.btn-cocktail{
  background: #E2171D;
  color: white;
  font-weight: 700;
}

.btn-cocktail:hover{
  background: white;
  color: #AC0000;
}

.btn-search{
  background: #AC0000;
  color: #F4E1EE;
  font-weight: 400;
}

.btn-search:hover{
  background: #660003;
  color: #F4E1EE;
  font-weight: 400;
}

.link-to-cocktail{
  text-decoration: solid #8F0005;
  color: #8F0005;
}

.link-to-cocktail:hover{
  text-decoration: solid #660003;
  color: #660003;
}