.btn-cocktail{
  background: #F4E1EE;
  color: #4C1A43;
  font-weight: 700;
}

.btn-cocktail:hover{
  background: white;
  color: #401D39;
}

.btn-search{
  background: #0F060C;
  color: #F4E1EE;
  font-weight: 400;
}

.btn-search:hover{
  background: #0F060C;
  color: #F4E1EE;
  font-weight: 400;
}