.navbar {
  justify-content: space-between;
  background: #401D39;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar-brand{
  font-family: "Kaushan Script", "cursive";
  font-size: 40px;
  color: white;
}

.navbar-brand:hover{
  font-family: "Kaushan Script", "cursive";
  font-size: 40px;
  color: white;
}
